modules = ["nodejs-20", "web"]
run = "yarn dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd rocville-quantum-final && yarn preview --host 0.0.0.0 --port 5000"]
build = ["sh", "-c", "cd rocville-quantum-final && yarn build"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 42501159
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd rocville-quantum-final && yarn dev"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true
